@import "base/variables";

//Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//components
@import "/components/addrates";
@import "/components/navigation";
@import "/components/landingheader";
@import "/components/headersection";
@import "/components/featuressection";
@import "/components/mainfeaturessection";
@import "/components/aboutsection";
@import "/components/loginheader";
@import "/components/signuppage";
@import "/components/innernavigationbar";
@import "/components/landingboard";
@import "/components/profile";
@import "/components/bottombar";
@import "/components/changepasswordmodal";
@import "/components/specialspane";
@import "/components/bookmodal";
@import "/components/servicespage";
@import "/components/fullservicepane";
@import "/components/servicelineinfo";
@import "/components/ratescategory";
@import "/components/servicepolicy";
@import "/components/product_links";
@import "/components/builditinerary";
@import "/components/searchservice";

.app {
}
.features{
  min-width: 100%;
  background: $blue;
}
.about {
  min-width: 100%;
}
.bottom-bar-row {
  min-width: 95%;
  margin-top: 2rem;
}
