//colors
$blue: #23408f;
$purple: #6269a7;
$grey: #6d6e71;
$consultinglime: #b2d037;
$productred: #eb2128;
$financepurple: #7f2d8f;
$admingreen: #1ab06c;
$notificationorange: #f48720;
$profilegrey: #e7e7e8;


//letterspacing sitewide
$letterspace: .1rem;
