.about {
  min-width: 100%;
  padding-right: 0;

  .about-title {
    padding-top: 2rem;
    color: $blue;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: $letterspace;
  }

  img {
    padding-right: 0;
  }
}
