.rate-section-title {
  background: #000;
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: $letterspace;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .3rem;
}
.service-line-form-group{
  display: flex;
}

.sl-rates-image-button {
  color: #fff;
  font-weight: bold;
  background: $blue;
  margin-top: 2rem;
  font-size: .6rem;
  min-width: 100%;
  letter-spacing: $letterspace;
}

.image-div {
  display: flex;
}
.sls-f-submit {
  background: $admingreen;
  color: #fff;
  font-weight: bold;
  margin: auto;
  letter-spacing: $letterspace;
  margin-bottom: 1rem;
}

.rates-f-submit {
  background: $admingreen;
  color: #fff;
  font-weight: bold;
  margin: auto;
  min-width: 100%;
  letter-spacing: $letterspace;
}

.supplier-image {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: auto;
}

.rates-f-button {
  color: #fff;
  font-weight: bold;
  letter-spacing: $letterspace;
  background: $blue;
  font-size: .5rem;
  float: right;
}

.rates-f-input {
  font-size: 1rem;
  height: 1.6rem;
  padding-top: .5rem;
}

.rates-form-group {
  display: flex;
  margin-top: .6rem;
}

.rates-f-label {
  width: 8rem;
  color: $blue;
  font-weight: bold;
  font-size: .5rem;
  letter-spacing: $letterspace;
}
