.book-modal-title {
  text-align: center;
  letter-spacing: $letterspace;
  font-weight: bold;
  color: $blue;
}
.book-button-area {
  display: flex;
}
.book-button {
  margin: auto;
  background: $admingreen;
  font-weight: bold;
  color: #fff;
  letter-spacing: $letterspace;
  padding-right: 1rem;
  padding-left: 1rem;
}

.book-label {
  width: 20%;
  font-weight: bold;
  letter-spacing: $letterspace;
  text-align: left;
  display: inline;
  float: left;
  margin-top: 1.2rem;
}
.book-input {
  width: 80%;
  display: inline;
  float: right;
}
.modal-form-group {
  display: inline;
}
