.bottom-bar {
  margin-top: 1rem;
  min-width: 100%
}

.footer-title {
  font-size: .6rem;
  font-weight: bold;
  letter-spacing: $letterspace;


}

.footer-list {
  font-size: .6rem;
  letter-spacing: $letterspace;
}

.tos {
  font-weight: bold;
  font-size: .6rem;
  letter-spacing: $letterspace;
  padding-top: 1.5rem;

}

.footer-logo {
  width: 168px;
  height: 40px;
}
