.build-form {
  background: $profilegrey;
  padding: 1rem;
  display: flex;
}

.build-form-label {
  color: $blue;
  letter-spacing: $letterspace;
  font-weight: bold;
  font-size: .6rem;
  width: 8rem;
  padding-top: .6rem;
}

.build-form-group {
  display: flex;
  padding-top: 1rem;
}
.build-form-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding-right: 1rem;
}

.build-form-submit {
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: $admingreen;
  letter-spacing: $letterspace;
  font-weight: bold;
  margin: 0 auto;
}
.pixels {
  font-size: .4rem;
  letter-spacing: $letterspace;
}
.up-bt-div {
  margin: auto 1rem;
}
.build-image-upload {
  background: $blue;
  color: #fff;
  font-size: .5rem;
  letter-spacing: $letterspace;
  font-weight: bold;
}
