.change-password-button {
  background-color: $admingreen;
  letter-spacing: .2rem;
  font-weight: bold;
}
.change-password-title {
  letter-spacing: .2rem;
  color: $blue;
  font-weight: bold;
}
.change-label {
  font-weight: bold;
  font-size: .8rem;
  width: 40%;
  letter-spacing: .2rem;
  text-align: left;
}

.change-input {
  width: 60%;
}
