.features-row{
  .admin {
    float: left;
  }

  padding-top: 1rem;
  background: #fff;
  .feature-title {
    color: $blue;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: $letterspace;
  }
  .title-sub {
    color: $blue;
    font-weight: bold;
    font-size: .6rem;
    letter-spacing: $letterspace;
  }
   > li {
     font-size: .6rem;
     letter-spacing: $letterspace
   }

}
