.upper-s-sidebar {
  background: $grey;
  padding: 1rem;
}

.lower-s-sidebar {
  background: $profilegrey;
  padding: 1rem;
}
.sidebar-contact-title {
  color: #fff;
  font-weight: bold;
}
.fs-in-cont {
  display: flex;
}
.in-next-a{
  margin-right: .5rem;
}
.in-next-b {
  margin-left: .5rem;
}

.sidebar-select-label {
  padding-top: 1rem;
  width: 80%;
  color: $blue;
  letter-spacing: $letterspace;
  font-weight: bold;
}
.fs-sb-bt-area {
  display: flex;
}
.select-container {
  display: flex;
}

.fs-sb-button {
  padding-right: 3rem;
  padding-left: 3rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: $letterspace;
  margin: 0 auto;
  background: $admingreen;
}
.sidebar-select {
  width: 20%;
  float: right;
  margin-right: 0;
}

.sidebar-contact-info {
  color: #fff;
  font-size: .7rem;
}
.bt-info {
  display: block;
  margin: auto;
  background: #fff;
  font-weight: bold;
  color: $blue;
  margin-top: .8rem;
  letter-spacing: $letterspace;
  width: 95%;
  text-align: left;
}
