.sidebar {
  background: $grey;
}
.greeting{
  color: $blue;
  letter-spacing: $letterspace;
  font-size: 1.3rem;
  .bold {
    font-weight: bold;
  }
}

.content {
  img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
  }

  .buttons-row{
    margin-top: 3rem;
  }

  .con-button {
    background-color: $consultinglime;
  }
  .fin-button {
    background-color: $financepurple;

  }
  .prod-button {
    background-color: $productred;

  }
  .admin-button {
    background-color: $admingreen;
  }

  .board-label {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: $letterspace;
  }
  .con-label {
    color: $consultinglime;
  }
  .admin-label {
    color: $admingreen;
  }
  .prod-label {
    color: $productred;
  }
  .fin-label {
    color: $financepurple;
  }
}
