.landing-header {
  color: #fff;
  padding-top: 15rem;
  padding-bottom: 15rem;
  .super {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    letter-spacing: .6rem;
  }
  .sub{
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: .3rem;
  }
}
