.login-header{
  min-width: 100%;
  background: url('../images/header_login_jets.jpg');
  background-size: cover;
}

.login-component {
  vertical-align: middle;
  background: #fff;
  opacity: .9;
  display: flex;
  width: 50%;
  margin: 10rem auto;

  .form {
    margin: 0 auto;
    width: 70%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .login-title {
      color: $blue;
      font-weight: bold;
      letter-spacing: $letterspace;
      text-align: center;
      font-size: 1.2rem;
    }

    label {
      font-weight: bold;
      font-size: .6rem;
      letter-spacing: $letterspace;

    }
    .text-label {
      color: #000;
    }
    .checkbox-label {
      text-align: center;
      color: $blue;
    }

    .login-form-button {
      color: #fff;
      font-weight: bold;
      background-color: $blue;
      letter-spacing: $letterspace;
      display: flex;
      margin: auto;
    }

    .signup-link {
      display: flex;
      margin: 0 auto;
      width: 50%;
      text-align: center;
      .s-link  {
        margin: 1rem auto;
        text-align: center;
        color: $blue;
        font-weight: bold;
        font-size: .6rem;
        letter-spacing: $letterspace;
      }
    }
  }
}
