.main-features {
  min-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .feature{
    padding-bottom: 2rem;
    p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      letter-spacing: $letterspace;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }


}
