.top-bar{
  background: transparent !important;
  border: none;
  padding-top: 2rem;
}
.nav-logo {
  width: 168px;
  height: 40px;
}

.menu {
  font-weight: bold;
  background: transparent !important;
  > li {
      > a {
      color: #fff;
      font-size: .8rem;
      letter-spacing: .1rem;
      cursor: pointer;
      }

      > .button{
        color: $blue;
        background-color: #fff;
      }
  }
}
