
  .profile-pane {
  .pic-pane {
    .prof-image {
      display: block;
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
      margin: auto;
    }
    .prof-image-button {
      display: block;
      background-color: $blue;
      font-weight: bold;
      margin: 2rem auto;
      letter-spacing: $letterspace;
      font-weight: bold;
    }
    .prof-pic-label {
      display: block;
      color: $blue;
      font-weight: bold;
      text-align: center;
      letter-spacing: $letterspace;
    }


  }
}
  .profile-form {
    background-color: $profilegrey;
  }


  .blue-label {
    color: $blue;
    font-weight: bold;
    letter-spacing: $letterspace;
    display: inline;
    text-align: left;
    float: left;
    margin-right: 2rem;
    width: 8rem;
  }
  .details-title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: $letterspace;
    color: $blue;
    padding-left: .8rem;
    padding-top: .5rem;
  }

  .form-group {
    display: flex;
  }

.update-bt {
  letter-spacing: $letterspace;
  background-color: $blue;
  font-weight: bold;
  width: 14rem;
  display: block;
  margin-bottom: 1rem;
}
.button-group {
  float: right;
  .button {
    margin-bottom: 1rem;
  }
}

.change-pwd {
    letter-spacing: $letterspace;
    background-color: $admingreen;
    font-weight: bold;
    width: 14rem;
}
