.product-links {
  background: $grey;
  padding: 1rem;
}
.bt-p-link {
  color: $blue;
  background: #fff;
  font-weight: bold;
  display: block;
  text-align: left;
  letter-spacing: $letterspace;
}

.bt-build {
  color: #fff;
  background: $consultinglime;
  font-weight: bold;
  display: block;
  text-align: left;
  letter-spacing: $letterspace;
}
