.category-row-title  {
  font-weight: bold;
  color: #fff;
  letter-spacing: $letterspace;
  width: 100%;
  text-align: left;
  background: $grey;
  padding: .3rem;
}
.rate-item {
  border-bottom: .02rem solid $grey;
  padding-top: 1rem;
  width: 100%;
  padding-left: 1rem;

}

.cost-list{
  margin-bottom: 1.5rem;
   :last-child:not(:first-child) {
    float: left;
  }
}

.rates-item-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.rate-list-col {
  text-align: center;
}

.sto-column{
  background: $profilegrey;
  text-align: center;
}

.rate-item-name {
  color: $blue;
  font-weight: bold;
  letter-spacing: $letterspace;
  padding-top: 1rem;
}

.rates-item-cost {
  color: $blue;
  letter-spacing: $letterspace;
  font-size: .8rem;
}
