.search-service-form {
  display: flex;
}

.flex-form-b {
  background: $admingreen;
  color: #fff;
  font-weight: bold;
  width: 18%;
  margin-right: 2rem;
  height: 2rem;
  padding-bottom: .4rem;
  letter-spacing: $letterspace
}

.flex-form-i {
  width: 58%;
  margin-right: 2rem;
  height: 2rem;
}

.flex-form-s {
  width: 18%;
  height: 2rem;
}
