.policy-list {
  margin-left: 1rem;
}

.policy-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: .05rem solid $grey;
}

.policy-image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.pname {
  color: #000;
  letter-spacing: $letterspace;
  font-weight: bold;
}
.policy-desc-p {
  margin-top: 3rem;
  letter-spacing: $letterspace;
  font-size: .8rem;
}
.policy-blue {
  color: $blue;
  font-weight: bold;
}
