.slinfo-label {
  text-align: right;
  font-size: .6rem;
  color: $admingreen;
}

.info-row {
  padding: 2rem;
}

.slinfo-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: $blue;
  letter-spacing: .2rem;
}
.sl-info-title {
  color: $blue;
  font-weight: bold;
  letter-spacing: $letterspace;
  font-size: .7rem;

}

.sl-info-content {
  letter-spacing: $letterspace;
  font-size: .7rem;

}
.slinfo-sub-title {
  color: $blue;
  font-size: .7rem;
  letter-spacing: $letterspace;
}

.slinfo-image {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.slinfo-negotiated {
  background: $consultinglime;
  width: 30%;
  text-align: center;
}

.neg-text {
  color: #fff;
  font-weight: bold;
}
