.services-sidebar {
  background: $grey;
  padding: .7rem;
}
.services-form-label {
  color: #fff;
  font-weight: bold;
  letter-spacing: $letterspace;
}

.services-button-area {
  margin-top: 10rem;
  display: flex;
}
.services-form-button {
  color: #fff;
  font-weight: bold;
  letter-spacing: $letterspace;
  background: $admingreen;
  margin: 0 auto;
}

.services-check-label {
  color: #fff;
  font-size: .4rem;
  letter-spacing: .05rem;
  font-weight: bold;
}

.service-list-image {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  float: right;
}

.service-item-label {
  color: $blue;
  letter-spacing: $letterspace;
  font-weight: bold;
  font-size: .9rem;
}

.service-item-content {
  letter-spacing: $letterspace;
  font-size: .9rem;
}

.service-info-button {
  margin-top: 1rem;
  background: $admingreen;
  font-weight: bold;
  color: #fff;
  letter-spacing: $letterspace;
}

.sl-contebnt {
  padding-top: 1rem;
}
