.signup-page{
  background-size: cover;
  background: url('../images/header_sign_up_jets.jpg');
  min-width: 100%;
  display: inline-block;
}
.sign-up-component{
  width: 70%;
  margin: 1rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sign-up-form {
  vertical-align: middle;
  background: #fff;
  opacity: .9;
  width: 70%;
  margin: 5rem auto;
  display: flex;

  //should correct this
  .signupform {
    margin: 2rem auto;
  }

  //temporary fix
  .confirm-password {
    top: 70%;
    transform: translateY(202%);
  }

  .form-title {
    color: $blue;
    font-weight: bold;
    letter-spacing: $letterspace;
    text-align: center;
    font-size: 1.2rem;
  }

  .button-section{
    width: 30%;
    margin: 0 auto;
  }


  .text-label {
    color: #000;
  }
  .signup-button{
    background-color: $blue;
    color: #fff;
    font-weight: bold;
  }
  label {
    font-weight: bold;
    font-size: .6rem;
    letter-spacing: $letterspace;

  }
}
