.specials-form {
  background: $grey;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.specials-form-label {
  font-weight: bold;
  color: #fff;
  letter-spacing: $letterspace;
}

.specials-form-label-check {
  font-weight: bold;
  color: #fff;
  font-size: .5rem;
}
.form-button {
  display: flex;
}

.specials-form-button {
  background: $admingreen;
  letter-spacing: $letterspace;
  font-weight: bold;
  margin: auto;
}
.special-item-button{
  background: $admingreen;
  font-weight: bold;
  letter-spacing: $letterspace;
}
.special-pic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.special-label {
  color: $blue;
  font-weight: bold;
  letter-spacing: $letterspace;
  font-size: .7rem;
}
.special-content {
  font-size: .7rem;
  letter-spacing: $letterspace;
}

.special-pagination-title {
  text-align: right;
  font-size: .8rem;
  color: $admingreen;
}
.special-txt{
  padding-top: 1rem;
}
